.header
    text-align: center
    color: #fff
    &__label
        font-size: 24px
        margin: 20px 0 0
    &__title
        font-size: 20px
        margin: 10px 0 0
    &__subtitle
        font-size: 20px
        margin: 10px 0 0