.interactive
    margin-top: 30px
    &__timer
        display: flex
        font-size: 30px
        background-color: #000
        color: #fff
        border-radius: 5px
        padding: 7px
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3)
    &__container
        display: flex
        justify-content: space-around
        background-color: #FFF
        width: 1170px
        margin: 0 auto
        border-radius: 10px
        padding: 10px 0
        align-items: center
    &__start,
    &__refresh
        width: 110px
        height: 30px
        border-radius: 5px
        font-size: 18px
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3)
    
        