.results
    display: flex
    align-items: center
    width: 250px
    margin-right: 20px
    border-radius: 5px
    border: 1px solid rgba(0,0,0, .3)
    box-shadow: 3px 3px 3px rgba(0,0,0, .3)
    &__number
        font-size: 25px
        padding: 5px 10px
        font-weight: 500
    &__time
        font-size: 25px
        margin: 0 auto